# Compiled class file
*.class

# Log file
*.log
*.cache
*.diff
*.patch
*.tmp

# idea ignore
*.idea
*.project
idea/
*.iml
*.ipr
*.iws

# Mobile Tools for Java (J2ME)
*.mtj.tmp

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# maven .ignore
target/

